html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body{
  font-family:'Open Sans', sans-serif;
  background: #e2e2e2;
  background: -webkit-radial-gradient(center, ellipse, #e2e2e2 0%, #d1d1d1 0%, #fefefe 100%);
  background: radial-gradient(ellipse at center, #e2e2e2 0%, #d1d1d1 0%, #fefefe 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1 );
  background-attachment: fixed;
  background-size: 1920px 100%;
  background-position:center;
}
a[href]{
  color:#eee;
}
a[href]:hover{
  color:#fff;
}
.header{
  background:#333;
  height:auto;
  color:#fff;
  font-size:14px;
  border:10px solid #555;
  box-shadow:inset 0 0 9px #000;
  box-sizing: border-box;
  position:relative;
  padding:0 20px;
}
.header h1{
  font-family:'Monoton';
  text-shadow:0 0 10px #bada55, 0 0 10px #bada55, 0 0 10px #bada55, 0 0 20px #bada55, 0 0 30px #bada55;
  font-size:50px;
  font-weight:400;
  text-align:center;
  font-size:30px;
  font-size:10vw;
}
.collapse-block{
  position: relative;
  margin: 15px 0 30px 0;
}
.collapse-switch{
  opacity:0;
  width:100px;
  position:absolute;
  margin: 0;
  cursor:pointer;
  z-index:2;
  height:25px;
}
.collapse-switch + b{
  cursor:default;
}
.collapse-switch + b:before{
  content: '+ ';
}
.collapse-switch:checked + b:before{
  content: '- ';
}
.collapse-switch ~ div{
  max-height: 0;
  margin:0;
  opacity:0;
  overflow:hidden;
  border-left: 3px solid #444;
  -webkit-transition:all .6s ease;
  transition:all .6s ease;
}
.collapse-switch:checked ~ div{
  max-height: 500px;
  opacity:1;
  padding:10px;
}
.header .fluid-table{
  margin: 15px 0 30px 0;
}
.header .fluid-table > div.row{
  border-bottom: 1px solid #444;
  box-shadow: inset 0 -1px 0 #222;
  font-size:0;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-flex-flow:row wrap;
  -ms-flex-flow:row wrap;
  flex-flow:row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header .fluid-table div.row > *{
  display: inline-block;
  box-sizing: border-box;
  text-align: left;
  font-size:14px;
  padding: 5px 0;
}
.header .fluid-table div.row > *:last-child{
  width:50%;
  min-width: 200px;
  margin-left:10px;
}
@media (min-width:500px){
  .header h1{
    font-size:50px;
  }
}
.fx{
  -webkit-animation: glitch 3s infinite;
  animation: glitch 3s infinite;
}
.stage:not(.header){
  position:relative;
  width:100%;
  height:100%;
  -webkit-perspective:600px;
  perspective:600px;
  padding:10px;
  box-sizing:border-box;
  background:rgba(0,0,0,0.3);
  background:#8a8a8a;
  color:#eee;
  margin: 15px 0;
}
.stage .inner{
  max-width: 744px;
  margin:auto;
  background:#333;
}
.scrollfx-wrapper{
  position:relative;
  height:50%;
  max-width:744px;
  margin:auto;
}
.scrollfx-wrapper:first-child{
  margin-top:calc(50vh - 274px);
  height:auto;
}
@media (max-height: 548px){
  .scrollfx-wrapper:first-child{
    margin-top:0;
  }
}

@-webkit-keyframes glitch {
  0%   {text-shadow: 0 0 10px #bada55, 0 0 10px #bada55, 0 0 10px #bada55, 0 0 20px #bada55, 0 0 30px #bada55;}
  49%  {text-shadow:  0 0 10px #bada55, 0 0 10px #bada55, 0 0 10px #bada55, 0 0 20px #bada55, 0 0 30px #bada55;}
  50%  {text-shadow: none;}
  51%  {text-shadow:  0 0 10px #bada55, 0 0 10px #bada55, 0 0 10px #bada55, 0 0 20px #bada55, 0 0 30px #bada55;}
  55%  {text-shadow:  0 0 10px #bada55, 0 0 10px #bada55, 0 0 10px #bada55, 0 0 20px #bada55, 0 0 30px #bada55;}
  56%  {text-shadow: none;}
  57%  {text-shadow:  0 0 10px #bada55, 0 0 10px #bada55, 0 0 10px #bada55, 0 0 20px #bada55, 0 0 30px #bada55;}
  75%  {text-shadow:  0 0 10px #bada55, 0 0 10px #bada55, 0 0 10px #bada55, 0 0 20px #bada55, 0 0 30px #bada55;}
  76%  {text-shadow: none;}
  90%  {text-shadow: none;}
  91%  {text-shadow:  0 0 10px #bada55, 0 0 10px #bada55, 0 0 10px #bada55, 0 0 20px #bada55, 0 0 30px #bada55;}
  100% {text-shadow: 0 0 10px #bada55, 0 0 10px #bada55, 0 0 10px #bada55, 0 0 20px #bada55, 0 0 30px #bada55;}
}

@keyframes glitch {
  0%   {text-shadow: 0 0 10px #bada55, 0 0 10px #bada55, 0 0 10px #bada55, 0 0 20px #bada55, 0 0 30px #bada55;}
  49%  {text-shadow:  0 0 10px #bada55, 0 0 10px #bada55, 0 0 10px #bada55, 0 0 20px #bada55, 0 0 30px #bada55;}
  50%  {text-shadow: none;}
  51%  {text-shadow:  0 0 10px #bada55, 0 0 10px #bada55, 0 0 10px #bada55, 0 0 20px #bada55, 0 0 30px #bada55;}
  55%  {text-shadow:  0 0 10px #bada55, 0 0 10px #bada55, 0 0 10px #bada55, 0 0 20px #bada55, 0 0 30px #bada55;}
  56%  {text-shadow: none;}
  57%  {text-shadow:  0 0 10px #bada55, 0 0 10px #bada55, 0 0 10px #bada55, 0 0 20px #bada55, 0 0 30px #bada55;}
  75%  {text-shadow:  0 0 10px #bada55, 0 0 10px #bada55, 0 0 10px #bada55, 0 0 20px #bada55, 0 0 30px #bada55;}
  76%  {text-shadow: none;}
  90%  {text-shadow: none;}
  91%  {text-shadow:  0 0 10px #bada55, 0 0 10px #bada55, 0 0 10px #bada55, 0 0 20px #bada55, 0 0 30px #bada55;}
  100% {text-shadow: 0 0 10px #bada55, 0 0 10px #bada55, 0 0 10px #bada55, 0 0 20px #bada55, 0 0 30px #bada55;}
}